
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Liste des Bénéficiaires</h5>
            <p-table #dt1 [value]="beneficiaires" dataKey="id" [rows]="10"  [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  responsiveLayout="scroll"
             [globalFilterFields]="['nom','reference','cin','departement']">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <!-- <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem"></th> pFrozenColumn pSortableColumn="name" -->
                        <th style="min-width: 12rem;" pSortableColumn="beneficiaire.nom">Référence<p-sortIcon field="nom"></p-sortIcon></th>
                        <th style="min-width: 12rem;" pSortableColumn="beneficiaire.reference">nom<p-sortIcon field="reference"></p-sortIcon></th>
                        <th style="min-width: 12rem;" pSortableColumn="montant">CNI <p-sortIcon field="montant"></p-sortIcon></th>
                        <th style="min-width: 12rem;" pSortableColumn="periode.libelle">Département <p-sortIcon field="libelle"></p-sortIcon></th>
                        <!-- <th style="min-width: 12rem;" pSortableColumn="category" >telephone <p-sortIcon field="category"></p-sortIcon></th> -->
                        <!-- <th style="min-width: 12rem;" pSortableColumn="rating">operateur <p-sortIcon field="rating"></p-sortIcon></th> -->
                        <th pSortableColumn="category" >Details</th>



                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-beneficiaire >
                    <tr>
                        <td style="min-width: 12rem;" pFrozenColumn >{{beneficiaire.reference}}</td>
                        <td style="min-width: 12rem;">{{beneficiaire.nom}}</td>
                        <td style="min-width: 12rem;">{{beneficiaire.cin}}</td>
                        <td style="min-width: 12rem;">{{beneficiaire.departement.region.nom}}</td>
                        <!-- <td style="min-width: 12rem;">{{paiement.beneficiaire.telephone}}</td> -->
                        <!-- <td style="min-width: 12rem;">{{paiement.operateur.nom}}</td> -->
                        <td pFrozenColumn alignFrozen="right"> <button pButton pRipple type="button" label="details" (click)="getDetailBeneficiaire(beneficiaire)" class="p-button-rounded p-button-success mr-2 mb-2"></button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Aucun bénéficiaire trouvé</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Total {{beneficiaires ? beneficiaires.length : 0 }} Bébeficiaires.
                    </div>
                </ng-template>

            </p-table>
        </div>

    </div>
</div>

<!--<h5>Responsive</h5>-->
<p-dialog header="Détails Bénéficiaire" [(visible)]="detailDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
         maximizable="true" [draggable]="false" [resizable]="false">

    <ng-template pTemplate="content">
        <p-splitter [style]="{'height': 'auto'}">
            <ng-template pTemplate>
                <table class="tableaugauche">
                    <tr>
                        <td>
                            <a class="gauche">Prenom & Nom:</a>
                        </td>
                        <td>
                            {{beneficiaire.nom}}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">Référence:</a>
                        </td>
                        <td>
                            {{beneficiaire.reference}}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">Télephone:</a>
                        </td>
                        <td>
                            {{beneficiaire.telephone}}
                        </td>

                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">CNI:</a>
                        </td>
                        <td>
                            {{beneficiaire.cin}}
                        </td>
                    </tr>
                    <br>

                </table>
            </ng-template>
            <ng-template pTemplate>
                <table class="tableaudroite">
                    <tr>
                        <td>
                            <a class="gauche">Région:</a>
                        </td>
                        <td>
                            {{beneficiaire.departement.region.nom}}
                        </td>

                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">Département:</a>
                        </td>
                        <td>
                            {{beneficiaire.departement.nom}}
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">Commune:</a>
                        </td>
                        <td>
                            {{beneficiaire.commune}}
                        </td>

                    </tr>
                    <br>
                    <tr>
                        <td>
                            <a class="gauche">Statut:</a>
                        </td>
                        <td>
                            {{beneficiaire.status}}
                        </td>
                    </tr>
                    <br>

                </table>
            </ng-template>
        </p-splitter>
    </ng-template>


    <ng-template pTemplate="footer">
        <p-button (click)="detailDialog=false" label="Fermer" styleClass="p-button-text"></p-button>
        <!-- <p-button (click)="displayDetailsDialog=false" label="Yes" styleClass="p-button-text"></p-button> -->
    </ng-template>
</p-dialog>

